#nprogress .bar {
  height: 5px !important;
  background-color: #34db50 !important;
}

.ql-editor {
  min-height: 300px;
}

.featured-img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.blog-body div p img {
  width: 100% !important;
}

.blog-excerpt p,
.blog-excerpt h1,
.blog-excerpt h2,
.blog-excerpt h3,
.blog-excerpt h4,
.blog-excerpt h5 {
  font-size: 14px;
  font-weight: 100;
}
